html{min-height:100%}html,.gradient.svelte-p4oirq{background:linear-gradient(to top right, #16bffd, #cb3066);background-repeat:no-repeat;background-size:contain}
.prose.svelte-14j5b4v h2.svelte-14j5b4v,.prose.svelte-14j5b4v a.svelte-14j5b4v{color:white}
.prose.svelte-50cz h2.svelte-50cz{color:white}
.prose.svelte-b0liqf iframe{width:100%;min-height:min(400px, 100vw)}.prose.svelte-b0liqf figure img{width:100%;border-radius:8px}